<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        version="2.0.0.0" id="{{ projectName }}">

  <author href="http://www.example.com/"
          rim:copyright="Copyright 1998-2012 My Corp">My Corp</author>

  <name>{{ name }}</name>
  <description>{{ description }}</description>

  <rim:permissions>
    {{#each permissions}}
    <rim:permit>{{ this }}</rim:permit>
    {{/each}}
  </rim:permissions>

  {{#each icons}}
  <icon src="{{this}}"/>
  {{/each}}
  
  {{#each splashes}}
  <rim:splash src="{{ this }} "/>
  {{/each }}

  <content src="index.html" rim:allowInvokeParams="true"/>
  <feature id="blackberry.ui.dialog"/>

  {{#if orientation}}
  <feature id="blackberry.app.orientation">
    <param name="mode" value="{{ orientation }}" />
  </feature>
  {{/if}}

  <feature id="blackberry.app">
    {{#if backgroundColor }}<param name="backgroundColor" value="{{ backgroundColor }}" />{{/if}}
  </feature>
  
  <feature id="blackberry.identity" required="true" version="1.0.0.0"/>

  {{#each domains}}
  <access uri="{{ this }}" subdomains="true">
    <feature id="blackberry.app" required="true" version="1.0.0"/>
    <feature id="blackberry.invoke" required="true" version="1.0.0"/>
  </access>
  {{/each}}

  {{#if license }}<license href="{{ license }}"/>{{/if}}
</widget>